<div style="display: flex; justify-content: space-between;">
    <h1>Таблица рекордов</h1>
    <span id="record_return_icon" title="Вернуться">↩</span>
</div>
<div id="tab" class="tab">
    <button class="tablinks">3x4</button>
    <button class="tablinks">4x4</button>
    <button class="tablinks">5x4</button>
    <button class="tablinks">6x6</button>
</div>

<div class="tab-content" style="display: flex; justify-content: center;">
    <table id="records-table" class="table">
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Попытки</th>
            <th>Время</th>
            <th>Счет</th>
        </tr>
    </table>
</div>