<div style="display: flex; justify-content: space-between;">
    <h1 id="record_table_header">Records Table</h1>
    <span id="record_return_icon" title="Back">↩</span>
</div>
<div id="tab" class="tab">
    <button class="tablinks">3x4</button>
    <button class="tablinks">4x4</button>
    <button class="tablinks">5x4</button>
    <button class="tablinks">6x6</button>
</div>

<div class="tab-content" style="display: flex; justify-content: center;">
    <table id="records-table" class="table">
        <tr>
            <th>#</th>
            <th id="name_column_header">Имя</th>
            <th id="attempts_column_header">Попытки</th>
            <th id="time_column_header">Время</th>
            <th id="score_column_header">Счет</th>
        </tr>
    </table>
</div>