body {
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: white;
    background-color: rgb(44, 0, 85);
}

.card {                 
    width: 100px; height: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-size: contain;
    background-position: center center;
    display: inline-block;
    animation-name: cardDissapearing;
    animation-duration: 3s;
}    



@keyframes cardDissapearing {
  from {
    display: block;
  }

  to {
    display: none;
  }
}

.game-setup {
    border-width: 4px;
    border-color: white;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    width: 400px;
}

.game-setup-container {
    display: flex;
    justify-content: center;
}

.dark-mode-button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    background-color: whitesmoke;
    border-width: 0;
    border-radius: 50px;
}

.dark-mode-button:hover {
    background-color: rgb(221, 221, 221);
}

.dark-mode-button:active {
    background-color: rgb(199, 199, 199);
}

.light-mode-button {
    display: block;
    margin: 10px 0;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: black;
    background-color: paleturquoise;
    border-width: 0;
    border-radius: 50px;
}

.light-mode-button:hover {
    background-color: rgb(96, 206, 206);
}

.light-mode-button:active {
    background-color: rgb(49, 204, 204);
}

.button-container {
    margin: 10px 0px;
}

.container-centerizer {    
    display: flex;
    justify-content: center;
}

.error-label {
    color: rgb(255, 104, 104);
    visibility: hidden;
}

.setup-block {
    margin-bottom: 10px;
}

.game-process {
    display: none;
    z-index: 0;
}

.game-result {
    display: none;
}

.game-record {
    display: none;
}

.modal {
    /* фиксированное положение */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* цвет фона */
    background: rgba(0, 0, 0, 0.5);
    /* по умолчанию модальное окно прозрачно */
    opacity: 0;
    /* анимация перехода */
    transition: opacity 400ms ease-in;
    /* элемент невидим для событий мыши */
    pointer-events: none;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
  }

  /* при отображении модального окно */
  .modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }

  /* ширина модального окна и его отступы от экрана */
  .modal-dialog {
    position: relative;
    width: 400px;
    margin: 10px;
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 500px;
      margin: 30px auto;
    }
  }

  /* свойства для блока, содержащего контент модального окна */
  .modal-content {
    background: rgb(43, 43, 43);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  }

  .dark-mode-modal-content {
    background: rgb(43, 43, 43);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  }

  .light-mode-modal-content {
    background: mintcream;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  }

  @media (min-width: 768px) {
    .modal-content {
      box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
  }

  /* свойства для заголовка модального окна */
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
  }

  .modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
  }

  /* свойства для кнопки "Закрыть" */
  .dark-mode-icon {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    opacity: .5;
    text-decoration: none;
  }

  /* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
  .dark-mode-icon:focus,
  .dark-mode-icon:hover {
    cursor: pointer;
    opacity: .75;
  }

.light-mode-icon {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

.light-mode-icon:focus,
.light-mode-icon:hover {
    cursor: pointer;
    opacity: .75;
}

  /* свойства для блока, содержащего основное содержимое окна */
  .modal-body {
    padding: 15px;
  }

.table {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tablinks:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tablinks.active-dark-mode {
    background-color: #ccc;
  }

  .tablinks.active-dark-mode {
    color: white;
    background-color: rgb(43, 43, 43);
  }

  .tablinks.active-light-mode {
    color: black;
    background-color:mintcream;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
